{% extends 'base.html.twig' %}

{% block title %}Hello CourController!{% endblock %}

{% block body %}
    <!--main content wrapper-->
    <div class="mcw">
        <!--main content view-->
        <div class="container">
            <!-- Content here -->
            <div class="example-wrapper">
                <h1>Hello {{ controller_name }}! ✅</h1>

                This friendly message is coming from:
                <ul>
                    <li>Your controller at <code><a href="{{ 'C:/Users/zerzo/OneDrive/Bureau/FilleRouge/FilRouge/src/Controller/CourController.php'|file_link(0) }}">src/Controller/CourController.php</a></code></li>
                    <li>Your template at <code><a href="{{ 'C:/Users/zerzo/OneDrive/Bureau/FilleRouge/FilRouge/templates/cour/cour.html.twig'|file_link(0) }}">templates/cour/index.html.twig</a></code></li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}

