{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}

{% block body %}
<div class="container">
  <!--main content wrapper-->
  <div class="mcw">
<div id='calendar'></div>
  </div>
</div>
{% endblock %}

{% block javascripts %}

	{{ encore_entry_script_tags('app') }}
	<script src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
     <script rel="stylesheet" type="text/javascript" src="{{asset ('assets/js/script.js') }}"></script>
	 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> 
	
     <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
	 <script src='fullcalendar/core/index.global.js'></script>
	 <script src='fullcalendar/core/locales/fr.global.js'></script> 
      <script type="text/javascript" src="{{asset ('assets/js/app.js') }}"></script>
     

<script>
document.addEventListener('DOMContentLoaded', function() {
    var initialLocaleCode = 'fr';
    var localeSelectorEl = document.getElementById('locale-selector');
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        validRange: {
          start: '2022-09-01'
        },
        buttonText: {
            prev: 'Précédent',
            next: 'Suivant',
            today: 'Aujourd\'hui',
            year: 'Année',
            month: 'Mois',
            week: 'Semaine',
            day: 'Jour',
            list: 'Planning',
        },
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        initialView: 'listMonth',
        weekText: 'Sem.',
        weekTextLong: 'Semaine',
        allDayText: 'Toute la journée',
        moreLinkText: 'en plus',
        noEventsText: 'Aucun évènement à afficher',
        locale: 'fr',
        buttonIcons: false, // show the prev/next text
        weekNumbers: true,
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        timeZone: 'Europe/Paris',
        events: {{data|raw}}
    });
    calendar.on('eventChange', (e) => {
        let url = `/api/${e.event.id}/edit`
        let donnees = {
            "id": e.event.id,
            "title": e.event.title, 
            "start": e.event.start.toUTCString(),
            "end": e.event.end.toUTCString(), 
        }
        console.log(donnees)

        let xhr = new XMLHttpRequest();

        xhr.open("PUT", url)
        xhr.send(JSON.stringify(donnees))
    })

    calendar.render();

    // build the locale selector's options
    // calendar.getAvailableLocaleCodes().forEach(function(localeCode) {
    //     var optionEl = document.createElement('option');
    //     optionEl.value = localeCode;
    //     optionEl.selected = localeCode === initialLocaleCode;
    //     optionEl.innerText = localeCode;
    //     localeSelectorEl.appendChild(optionEl);
    // });

    // when the selected option changes, dynamically change the calendar option
    // localeSelectorEl.addEventListener('change', function() {
    //     if (this.value) {
    //         calendar.setOption('local', 'fr');
    //     }
    });


</script>

{% endblock %}
