{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}

{% block body %}
<div class="container">
  <!--main content wrapper-->
  <div class="mcw">
<div id='calendar'></div>
  </div>
</div>
{% endblock %}