{% extends 'base.html.twig' %}

{% block title %}Hello StatController!
{% endblock %}

{% block body %}
	<div class="container">

		<svg  viewbox="-1 -1 2 2">
			<path stroke="#000" stroke-width="0.1" d="M 0 0 L 1 0 A 1 1 0 0 1 0 1 L 0"></path>
		</svg>



	</div>
{% endblock %}

	{% block stylesheets %}
			<style>
				svg {
					width: 100px;
					height: 100px;

				}
			</style>
{% endblock %}
