{% extends 'base.html.twig' %}

{% block title %}Tableau Cours{% endblock %}

{% block body %}
    <!--main content wrapper-->
    <div class="mcw">
        <!--main content view-->
            <div class="container">
                <!-- Content here -->
                <div class="example-wrapper">
                    <h1>✅Liste des cours </h1>
                </div>
                <div class="cv"> <div>
                        <div class="inbox">
                            <div class="inbox-sb"></div>
                            <div class="inbox-bx container-fluid">
                                <div class="row">
                                    <div class="col-md-10">
                                        <table class="table table-stripped">
                                            <tbody>
                                            <tr>
                                                <th><input class="class-checkboxes" type="checkbox" id ="select-all" name="select-all"/></th>
                                                <th>Libelee de Cour</th>
                                                <th>Date de debut</th>
                                                <th>Date de FIn </th>
                                            </tr>

                                            {% for cour in courListe %}
                                                <tr>
                                                    <td><input class="class-checkboxes" type="checkbox"/></td>
                                                    <td id="gh"> {{ cour.libeleeCour }}</td>
                                                    <td> {{ cour.dateDebut|date("m/d/Y") }}</td>
                                                    <td> {{ cour.dateFin|date("m/d/Y") }}</td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
{#                                        <div class="navigation">#}
{#                                            {{ knp_pagination_render(users) }}#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>


{% endblock %}
